$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;


$primary:       $gray-100;
$secondary:     $primary;
$success:       $primary;
$info:          $primary;
$warning:       $primary;
$danger:        $primary;
$light:         $gray-100;
$dark:          $primary; //$gray-800;

$enable-shadows:            true;
$spacer: 0.5rem;

$body-bg:                   $cyan;
$body-color:                $primary;
$paragraph-margin-bottom:   0;
$grid-gutter-width:           30px;

$yiq-text-dark: $primary;
$yiq-text-light: $white;

$headings-color:              $primary;
$headings-margin-bottom:      ($spacer / 2);
$headings-font-weight:        500;

// Components
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5;
$line-height-sm:              1.5;

$border-width:                1px;
$border-color:                $primary;

$border-radius:               .5rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

$component-active-color:      $white;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;

$input-bg:                              $body-bg;
$input-disabled-bg:                     lighten($primary, 30%);

$input-color:                           $primary;
$input-border-color:                    $primary;

$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);
$input-placeholder-color:               lighten($primary, 30%);

$custom-select-padding-y:           .375rem;
$custom-select-padding-x:          .75rem;
$custom-select-indicator-padding:   1rem;
$custom-select-disabled-color:      lighten($primary, 15%);
$custom-select-bg:                  $body-bg;
$custom-select-disabled-bg:         lighten($primary, 70%);
$custom-select-bg-size:             8px 10px; // In pixels because image dimensions
$custom-select-indicator-color:     $primary;

$form-group-margin-bottom:              0;
$form-text-margin-top:                  .5rem;

/********************************************************************
             My classes
********************************************************************/


.linha {
    //margin: 0.2em;
    //background-color: $semi-transparent;
    border: ($border-width * 1) solid $primary;
    border-radius: ($border-radius * 1.5);
    margin: $spacer;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0.5rem;
    // lighten($primary, 15%)
}

input, button, select, optgroup, textarea{
    margin: 0.2rem !important;
}

button:hover{
    background-color: $primary !important;
    color: $body-bg !important;
}


///////////////////////////////////////////////////////////////////////
@import "../node_modules/bootstrap/scss/bootstrap.scss";